<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/images/vimu_favicon.png">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
       {% include 'nav.html'%}
    </header>  
    
    <main class="container home_container">   
      <section>
        <h1 class="text-center mb-2 home_container" id="home">Student Stress Predictor</h1>
        <img id="banner" class="img-fluid" src="static/images/banner.jpg" alt="Banner Image">
      </section>

      <section>
        <h2 class="text-center  mt-4 mb-2" id="AboutSS">About Student Stress</h2>
        <div>
          <p class="lead">
            Student stress is a serious concern affecting many students worldwide. It can stem from various sources like academic pressure, social expectations, financial constraints, and personal challenges. Balancing coursework, exams, extracurricular activities, and sometimes part-time jobs can create immense pressure. Also, the fear of the future, such as job prospects or meeting familial expectations, adds to the stress.
          </p>
        </div>
      </section>
      
      <section>
        <h2 class="text-center  mt-4 mb-2" id="ManageSS">Manage Student Stress</h2>
        <div>
          <p class="lead">
            It's essential for students to manage stress to maintain their mental and physical well-being. Strategies like time management, seeking support from teachers or counselors, maintaining a healthy lifestyle with adequate sleep, exercise, and nutrition, and practicing mindfulness or relaxation techniques can help cope with stress. Additionally, having a support network of friends and family is crucial in navigating stressful periods.
          </p>
        </div>
        <div>
          <p class="lead">
            Creating a balanced schedule, setting realistic goals, and learning to prioritize tasks can significantly reduce stress levels. If stress becomes overwhelming, seeking professional help is always advisable. Universities often have counseling services or mental health professionals who can provide support and guidance. Taking care of mental health is just as important as academic success.
          </p>
        </div>
      </section>
       
      <section>
        <h2 class="text-center mt-4 mb-2" id="AboutSSP">About Student Stress Predictor</h2>

        <p class="lead about">
          This software has been create using Maching Learnig. This Data has been collected Majorly from Engineering students Testing the following data points from 1 to 5.
          <ul class="lead">
            <li>Kindly Rate your Sleep Quality</li>
            <li>How many times a week do you suffer headaches</li>
            <li>How would you rate you academic performance</li>
            <li>how would you rate your study load?</li>
            <li>How many times a week you practice extracurricular activities</li>
            <li>How would you rate your stress levels?</li>
          </ul>
        </p>
      </section>
      <br>
      <br>
      <section class="text-center">
        <button type="button" id="btnContactUs" class="btn btn-primary btn-lg">Contact Us</button>
      </section>     
    </main>  
    
    <footer>
      {% include 'footer.html'%}
    </footer>
    
  </body>
</html>