<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/home.css">
    <title>Home</title>
  </head>
  <body>
    <h1>Student Stress Predictor</h1>
    <img src="static/images/banner.jpg" alt="">

    <h2>About Student Stress</h2>

    <p>It's essential for students to manage stress to maintain their mental and physical well-being. Strategies like time management, seeking support from teachers or counselors, maintaining a healthy lifestyle with adequate sleep, exercise, and nutrition, and practicing mindfulness or relaxation techniques can help cope with stress. Additionally, having a support network of friends and family is crucial in navigating stressful periods.</p>
    
    <p>Creating a balanced schedule, setting realistic goals, and learning to prioritize tasks can significantly reduce stress levels. If stress becomes overwhelming, seeking professional help is always advisable. Universities often have counseling services or mental health professionals who can provide support and guidance. Taking care of mental health is just as important as academic success.</p>

    <img src="static/images/middle_image.jpg" alt="">

    

    <h2>About Student Stress Predictor</h2>
    
    <p>This software has been create using Maching Learnig. This Data has been collected Majorly from Engineering students Testing the following data points from 1 to 5.

      <ul>
        <li>Kindly Rate your Sleep Quality</li>
        <li>How many times a week do you suffer headaches</li>
        <li>How would you rate you academic performance</li>
        <li>how would you rate your study load?</li>
        <li>How many times a week you practice extracurricular activities</li>
        <li>How would you rate your stress levels?</li>
        
      </ul>
    </p>

    <button>Contact Us</button>

    
  </body>
</html>