<!DOCTYPE html>
<nav style="padding: 0;" class="navbar bg-body-tertiary shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/images/vimu_nav_logo.svg" alt="Logo" width="85" height="65">
      Student Stress Predictor
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a style="color:rgb(116, 6, 171)" class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a style="color:rgb(116, 6, 171)" class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a style="color:rgb(116, 6, 171)" class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a style="color:rgb(116, 6, 171)" class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav> 
